.theme_menu_wrapper {
  position: absolute;
  top:0;
  left:0;
  right: 0;
  z-index: 99;
  padding-top: 62px; }
.theme_menu_wrapper.full_width_menu {padding-left: 80px;padding-right:80px;}
.theme_menu_wrapper #mega_menu_wrapper .nav .menu_list .link {
  padding: 0 0 20px 0;
  margin: 0 22px;
  position: relative;
  z-index: 9; }

 .theme_menu_wrapper #mega_menu_wrapper .nav .li .link:before,
#mega_menu_wrapper .nav .dropdown_holder .sub_menu .menu_list .tran3s:before {
  content: '';
  width: 0;
  height: 4px;
  margin-top: 20px;
  opacity: 0;
  position: absolute;
  background: rgba(21, 148, 117, 100%);
  border-radius: 2.5px;
  left:0;
  z-index: 1; }
  .theme_menu_wrapper #mega_menu_wrapper .nav  .link:before {top:17px;}
  #mega_menu_wrapper .nav .dropdown_holder .sub_menu  .tran3s::before {bottom: 14px;}
  .theme_menu_wrapper #mega_menu_wrapper .nav .active .tran3s::before,
  .theme_menu_wrapper #mega_menu_wrapper .nav .li:hover>a::before,
  #mega_menu_wrapper .nav .dropdown_holder .sub_menu li:hover>a::before,
  #mega_menu_wrapper .nav  .dropdown-holder .sub_menu .tran3s:hover::before {
    opacity: 1;
    width: 100%;
  }

  .theme_menu_wrapper #mega_menu_wrapper .nav .login_button .tran3s {
    width: 200px;
    line-height: 36px;
    font-weight: 600;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    color: #00000a;
    text-transform: uppercase;
    border: 2px solid rgba(0,0,10,0.08);
    border-radius: 5px;
    margin: 7px 0 0 30px; }
.theme_menu_wrapper #mega_menu_wrapper .nav .login_button .tran3s::before{display: none;}
   
